<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewprot" content="widtd=device-width, initial-scale=1.0" />
    <link rel="stylesheet"
          href="{{ url_for('static', filename= 'css/style.css') }}"/>
    <title>
      {% block title %}
      {% endblock title %}
    - dashboard</title>
    {% block html_head %}
    {% endblock html_head %}
  </head>
  <body>
    <div id="content">
      {% block content %}
      {% endblock content %}
    </div>
    <footer id="footer">
      {% block footer %}
        &copy; Copyright 2022 by
        <a href="https://github.com/Siponek">Siponek</a>.
      {% endblock footer %}
    </footer>
  </body>
</html>
