<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="Turbo, lasery, koks" />
        <title>Producent owoców i warzyw</title>
        <link rel="stylesheet" href="../static/css/style.css">
    </head>
    <body>
        <div class="wrap">
            <section class="banner">
                <img src="" alt="BANER REKLAMOWY" width="200" height="200" />
                <p class = "test">
                    paragraph
    
                </p>
                <p class = "test">paragraph 2</p>
                <h2 class = "test">
                    header2
                </h2>
            </section>
            <header class="banner_header">
                <section class="banner">
                    <img
                        class="logo"
                        src=""
                        alt="PLANETA"
                        width="200"
                        height="200"
                    />
                    <h1>LOGO I SLOGAN</h1>
                </section>
                <nav class="side_nav">
                    <ul>
                        <li>
                            <a href="#">
                                <p>START</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>O NAS</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>SKLEP</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>BLOG</p>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <p>KONTAKT</p>
                            </a>
                        </li>
                    </ul>
                </nav>
            </header>
            <main>
                <section class="fruits">
                    <h1>GALERIA PRODUKTKÓW OWOCOWYCH</h1>
                    <div class="fruits_gallery">
                        <ul>
                            <li>
                                <img
                                    class="fruit_image"
                                    src=""
                                    alt="Zdjęcie_1"
                                    width="200"
                                    height="200"
                                />
                            </li>
                            <li>
                                <img
                                    class="fruit_image"
                                    src=""
                                    alt="Zdjęcie_2"
                                    width="200"
                                    height="200"
                                />
                            </li>
                            <li>
                                <img
                                    class="fruit_image"
                                    src=""
                                    alt="Zdjęcie_3"
                                    width="200"
                                    height="200"
                                />
                            </li>
                            <li>
                                <img
                                    class="fruit_image"
                                    src=""
                                    alt="Zdjęcie_4"
                                    width="200"
                                    height="200"
                                />
                            </li>
                        </ul>
                    </div>

                    <div>
                        <button class="watch_more">ZOBACZ WIĘCEJ</button>
                    </div>
                </section>
                <section class="vegatables">
                    <h1>GALERIA PRODUKTKÓW WARZYWNYCH</h1>
                    <div class="vegatables_gallery">
                        <ul>
                            <li>
                                <img
                                    class="vege_image"
                                    src=""
                                    alt="Zdjęcie_1"
                                    width="200"
                                    height="200"
                                />
                            </li>
                            <li>
                                <img
                                    class="vege_image"
                                    src=""
                                    alt="Zdjęcie_2"
                                    width="200"
                                    height="200"
                                />
                            </li>
                            <li>
                                <img
                                    class="vege_image"
                                    src=""
                                    alt="Zdjęcie_3"
                                    width="200"
                                    height="200"
                                />
                            </li>
                            <li>
                                <img
                                    class="vege_image"
                                    src=""
                                    alt="Zdjęcie_4"
                                    width="200"
                                    height="200"
                                />
                            </li>
                        </ul>
                    </div>

                    <div>
                        <button class="watch_more">ZOBACZ WIĘCEJ</button>
                    </div>
                </section>
            </main>

            <footer>
                <section class="contact_data">
                    <p>Adres: wololo</p>
                    <p>Telefon: wololo</p>
                    <p>Email: wololo</p>
                </section>

                <nav class="bottom_nav">
                    <ul>
                        <li><a href="#"></a>File</li>
                        <li><a href="#" disabled></a>Edit</li>
                        <li><a href="#"></a>View</li>
                        <li><a href="#"></a>Help</li>
                    </ul>
                </nav>
            </footer>
        </div>
    </body>
</html>
